@using EmptyWeb.Shared
@model List<EmptyWeb.Models.Log>
@{
    int stt = 0;
}
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Timestamp</th>
            <th>Username</th>
            <th>IP Address</th>
            <th>Browser</th>
            <th>Url</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="clickable-row">
                <td>@stt</td>
                <td>@item.Timestamp</td>
                <td>@item.Username</td>
                <td>@item.IPAddress</td>
                <td>@item.Browser</td>
                <td>@item.UrlAccessed</td>
                <td>@(PageHelper.Limit(item.Message, 100))</td>
            </tr>

            stt++;
        }
    </tbody>
</table>